<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWAVkH2gXs_9RDk4Qv9Zcq7-fAmIqYQaA</string>
	<key>GCM_SENDER_ID</key>
	<string>662911833453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phudc.ShopDemo</string>
	<key>PROJECT_ID</key>
	<string>shopdemo-aada2</string>
	<key>STORAGE_BUCKET</key>
	<string>shopdemo-aada2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662911833453:ios:3f7c3ef8c31f1ced64f664</string>
</dict>
</plist>